{% extends "base.html" %}

{% block title %}Forbidden{% endblock %}

{% block page_content %}
<div class="page-header">
	<div class="col">
		<div class="row">
			<h1>403: Forbidden</h1>
			<div>
				<p>
					The good old “chap, you made a mistake typing that URL”
					message. So common that even novices to the internet know
					that 404 means: damn, the thing I was looking for is not
					there. It’s a very good idea to make sure there is actually
					something useful on a 404 page, at least a link back to the
					index.
				</p>
			</div>
			<div>
				<p>
					<a href="{{ url_for('index') }}">Back to home page!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
