{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block page_content %}
<div class="page-headera">
	<div class="row">
		<div class="col">
			<h1>404: Page Not Found</h1>
			<div>
				<p>The good old “chap, you made a mistake typing that URL” message. So common that even novices to the internet know that 404 means: damn, the thing I was looking for is not there. It’s a very good idea to make sure there is actually something useful on a 404 page, at least a link back to the index.</p>
			</div>
			<div>
				<p>
					<a href="{{ url_for('index') }}">Back to home page!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
