{% extends "base.html" %}

{% block title %}Gone{% endblock %}

{% block page_content %}
<div class="page-header">
	<div class="col">
		<div class="row">
			<h1>410: Gone</h1>
			<div>
				<p>
					Did you know that there the “404 Not Found” has a brother
					named “410 Gone”? Few people actually implement that, but
					the idea is that resources that previously existed and got
					deleted answer with 410 instead of 404. If you are not
					deleting documents permanently from the database but just
					mark them as deleted, do the user a favour and use the 410
					code instead and display a message that what they were
					looking for was deleted for all eternity.
				</p>
			</div>
			<div>
				<p>
					<a href="{{ url_for('index') }}">Back to home page!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
