{% extends "base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block page_content %}
<div class="page-header">
	<div class="col">
		<div class="row">
			<h1>500: Internal Server Error</h1>
			<div>
				<p>
					Usually happens on programming errors or if the server is
					overloaded. A terribly good idea is to have a nice page
					there, because your application will fail sooner or later.
				</p>
			</div>
			<div>
				<p>
					<a href="{{ url_for('index') }}">Back to home page!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
