{% block doc -%}
{#- Mirar en: https://github.com/joshbuchea/HEAD -#}


<!DOCTYPE html>
<html
{%- block html_lang %} lang="es" {%- endblock html_lang %}{%- block html_attribs %}{# itemscope itemtype="http://schema.org/Article" #}{%- endblock html_attribs -%}>


{%- block html %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{%- block head %}
		<title>{%- block title -%}{%- if title -%}{{ title|default }} - base {%- else -%} Welcome to base! {%- endif -%}{%- endblock title -%}</title>


{%- block meta %}
		<!-- Meta block -->
		{# Allows control over where resources are loaded from. Place as early in the <head>as possible, as the tag only applies to resources that are declared after it. -#}
		<!-- <meta http-equiv="Content-Security-Policy" content="{# {%- block meta_content_security_policy -%}default-src 'self'{%- endblock meta_content_security_policy -%} #}">-->
		{# Name of web application (only should be used if the website is used as an app) -#}
		<meta name="application-name" content="{%- block meta_application_name -%}ERROR: Application Name{%- endblock meta_application_name -%}">
		{# Theme Color for Chrome, Firefox OS and Opera -#}
		<meta name="theme-color" content="{%- block meta_theme_color -%}#4285f4{%- endblock meta_theme_color -%}">
		{# Short description of the document (limit to 150 characters) This content *may* be used as a part of search engine results. -#}
		<meta name="Description" content="{%- block meta_description -%}ERROR: Rellenar esta descripción{%- endblock meta_description -%}">
		{# Control the behavior of search engine crawling and indexing -#}
		<meta name="robots" content="index,follow">
		{# All Search Engines -#}
		<meta name="googlebot" content="index,follow">
		{# Google Specific -#}
		{# Tells Google not to show the sitelinks search box -#}
		<meta name="google" content="nositelinkssearchbox">
		{# Tells Google not to provide a translation for this document -#}
		<!-- <meta name="google" content="notranslate">-->
		{# Verify website ownership -#}
		<meta name="google-site-verification" content="verification_token">
		{# Google Search Console -#}
		<meta name="yandex-verification" content="verification_token">
		{# Yandex Webmasters -#}
		<meta name="msvalidate.01" content="verification_token">
		{# Bing Webmaster Center -#}
		<meta name="alexaVerifyID" content="verification_token">
		{# Alexa Console -#}
		<meta name="p:domain_verify" content="code_from_pinterest">
		{# Pinterest Console -#}
		<meta name="norton-safeweb-site-verification" content="norton_code">
		{# Norton Safe Web -#}
		{# Identify the software used to build the document (i.e. - WordPress, Dreamweaver) -#}
		<meta name="generator" content="Flask">
		{# Short description of your document's subject -#}
		<meta name="subject" content="{%- block meta_subject -%}ERROR: your document's subject{%- endblock meta_subject -%}">
		{# Gives a general age rating based on the document's content -#}
		<meta name="rating" content="General">
		{# Allows control over how referrer information is passed -#}
		<!-- <meta name="referrer" content="no-referrer"> -->
		<meta name="referrer" content="no-referrer">{# FIXME: TLD Domain #}
		{# Disable automatic detection and formatting of possible phone numbers -#}
		<meta name="format-detection" content="telephone=yes">
		{# Completely opt out of DNS prefetching by setting to "off" -#}
		<!-- <meta http-equiv="x-dns-prefetch-control" content="off">-->
		{# Stores a cookie on the client web browser for identification purposes -#}
		<!-- <meta http-equiv="set-cookie" content="name=value; expires=date; path=url">-->
		{# Specifies the document to appear in a specific frame -#}
		<meta http-equiv="Window-Target" content="_value">
		{# Geo tags -#}
		<meta name="ICBM" content="latitude, longitude">
		<meta name="geo.position" content="latitude;longitude">
		{# Country code (ISO 3166-1): mandatory, state code (ISO 3166-2): optional; eg. content="US" / content="US-NY" -#}
		<meta name="geo.region" content="ES">
		{# eg. content="New York City" -#}
		<meta name="geo.placename" content="Las Palmas de Gran Canaria">

		<!-- Favicon block -->
		{% block favicon -%}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		{% endblock favicon -%}


		{% block meta_social -%}
		{# Google / Search Engine Tags -#}
		{# Hay que activar el bloque "html_attribs" -#}
		<link rel="author" href="">
		<link rel="publisher" href="">
		<meta itemprop="name" content="Proyectos Informáticos Canarias, S. L. - P.I.C. - S.L.">
		<meta itemprop="description" content="Servicios Informáticos, Desarrollo Web, Servicio Técnico, Soporte Personalizado. Especializados en sectores como la Oficina de Farmacia, Hoteles, Restaurantes y otros, con productos como Unycop, FrontRest, HoteloPlus, CaskKeeper, Contaplus, Facturaplus, etc. Para cualquier otra cosa en la que considere que podemos serle de ayuda, no dude en contactar con nosotros.">
		<meta itemprop="image" content="">
		{# Facebook Meta Tags -#}
		<meta property="fb:app_id" content="123456789">
		<meta property="og:url" content="https://www.pic-sl.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Proyectos Informáticos Canarias, S. L. - P.I.C. - S.L.">
		<meta property="og:image" content="http://example.com/image.jpg">
		<meta property="og:description" content="Servicios Informáticos, Desarrollo Web, Servicio Técnico, Soporte Personalizado. Especializados en sectores como la Oficina de Farmacia, Hoteles, Restaurantes y otros, con productos como Unycop, FrontRest, HoteloPlus, CaskKeeper, Contaplus, Facturaplus, etc. Para cualquier otra cosa en la que considere que podemos serle de ayuda, no dude en contactar con nosotros.">
		<meta property="og:site_name" content="Site Name">
		<meta property="og:locale" content="en_US">
		<meta property="article:author" content="">
		{# Twitter Meta Tags -#}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@site_account">
		<meta name="twitter:creator" content="@individual_account">
		<meta name="twitter:url" content="http://example.com/page.html">
		<meta name="twitter:title" content="Proyectos Informáticos Canarias, S. L. - P.I.C. - S.L.">
		<meta name="twitter:description" content="Servicios Informáticos, Desarrollo Web, Servicio Técnico, Soporte Personalizado. Especializados en sectores como la Oficina de Farmacia, Hoteles, Restaurantes y otros, con productos como Unycop, FrontRest, HoteloPlus, CaskKeeper, Contaplus, Facturaplus, etc. Para cualquier otra cosa en la que considere que podemos serle de ayuda, no dude en contactar con nosotros.">
		<meta name="twitter:image" content="http://example.com/image.jpg">
		{% endblock meta_social -%}
{%- endblock meta -%}


{%- block link -%}
		{# Points to an external stylesheet -#}
		<!-- <link rel="stylesheet" href="http://example.com/styles.css">  {# FIXME  #}  -->
		{# Helps prevent duplicate content issues -#}
		<link rel="canonical" href="http://example.com/article/?page=2">
		{# Links to an AMP HTML version of the current document -#}
		<link rel="amphtml" href="http://example.com/path/to/amp-version.html">
		{# Links to a JSON file that specifies "installation" credentials for the web applications -#}
		<link rel="manifest" href="manifest.json">
		{# Links to information about the author(s) of the document -#}
		<link rel="author" href="humans.txt">
		{# Refers to a copyright statement that applies to the link's context -#}
		<link rel="license" href="copyright.html">
		{# Gives a reference to a location in your document that may be in another language -#}
		<link rel="alternate" href="https://es.example.com/" hreflang="es">
		{# Provides information about an author or another person -#}
		<link rel="me" href="https://google.com/profiles/thenextweb" type="text/html">
		<link rel="me" href="mailto:name@example.com">
		<link rel="me" href="sms:+15035550125">
		{# Links to a document that describes a collection of records, documents, or other materials of historical interest -#}
		<link rel="archives" href="http://example.com/archives/">
		{# Links to top level resource in an hierarchical structure -#}
		<link rel="index" href="http://example.com/article/">
		{# Provides a self reference - useful when the document has multiple possible references -#}
		<link rel="self" type="application/atom+xml" href="http://example.com/atom.xml">
		{# The first, last, previous, and next documents in a series of documents, respectively -#}
		<link rel="first" href="http://example.com/article/">
		<link rel="last" href="http://example.com/article/?page=42">
		<link rel="prev" href="http://example.com/article/?page=1">
		<link rel="next" href="http://example.com/article/?page=3">
		{# Used when a 3rd party service is utilized to maintain a blog -#}
		<link rel="EditURI" href="http://example.com/xmlrpc.php?rsd" type="application/rsd+xml" title="RSD">
		{# Forms an automated comment when another WordPress blog links to your WordPress blog or post -#}
		<link rel="pingback" href="http://example.com/xmlrpc.php">
		{# Notifies a URL when you link to it on your document -#}
		<link rel="webmention" href="http://example.com/webmention">
		{# Enables posting to your own domain using a Micropub client -#}
		<link rel="micropub" href="http://example.com/micropub">
		{# Open Search -#}
		<link rel="search" href="{{ url_for('static', filename='open-search.xml') }}" type="application/opensearchdescription+xml" title="">  {# FIXME  #}
		{# Feeds -#}
		<link rel="alternate" href="https://feeds.feedburner.com/example" type="application/rss+xml" title="RSS">
		<link rel="alternate" href="http://example.com/feed.atom" type="application/atom+xml" title="Atom 0.3">
		{# Prefetching, preloading, prebrowsing -#}
		{# More info: https://css-tricks.com/prefetching-preloading-prebrowsing/ -#}
		<link rel="dns-prefetch" href="//example.com/">
		<link rel="preconnect" href="https://www.example.com/">
		<link rel="prefetch" href="https://www.example.com/">
		<link rel="prerender" href="http://example.com/">
		<!-- <link rel="preload" href="{# {{ url_for('static', filename='image.png') }} #}" as="image"> -->
{% endblock link -%}


{% block style -%}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
{% endblock style -%}

{% block my_style -%}{% endblock my_style -%}
{% block script %}{% endblock script -%}
{% block noscript %}{% endblock noscript -%}
{#-
	{%- block base %}{%- endblock base %}
	{%- block %}{%- endblock %}
	{%- block metas %}{%- endblock metas %}
	{%- block styles %}{%- endblock styles %}
-#}

{% endblock head -%}

	</head>

	<body{% block body_attribs %}{# style="height:1500px" #}{%- endblock body_attribs %}>

{%- block body %}


{%- block navbar %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" role="navigation" style="background-color: transparent;">
		<!-- <nav class="navbar navbar-expand-md fixed-bottom" role="navigation"	style="background-color: transparent;"> Falla el color de la cruz -->
			<a class="navbar-brand" href="{{ url_for('index') }}">PIC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link disabled" href="{{ url_for('index') }}">Cashkeeper</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="{{ url_for('index') }}">Unycop</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="{{ url_for('index') }}">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown"	href="#" role="button" data-toggle="dropdown" data-target="#" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
-->
				</ul>

				<ul class="nav navbar-nav ml-auto">
					<!-- <li class="nav-item"><a class="nav-link">Right Link 1</a></li>-->
					{% if current_user and current_user.is_authenticated %}
					<li class="nav-item">
						<!-- <span class="navbar-text"><a class="navbar-link" href="{# {{ url_for('index') }} #}#">Logged in as {{ current_user.username }}</a></span> -->
						<span class="navbar-text">Logged in as {{ current_user.username }}</span>
					</li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}

					{% if current_user and current_user.is_anonymous %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">login</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Create account</a></li>
					{% endif %}

					<!--
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					-->
				</ul>
			</div>
		</nav>

{%- endblock navbar %}


{%- block content %}
		<div class="{%- block container_type -%}container{%- endblock container_type -%}">


			{%- with messages = get_flashed_messages(with_categories=true) %}
			{%- if messages %}
			<div class="row">
				<div class="col">
				{% for category, message in messages %}
					<!-- <div class="row"><p></p></div>-->
					<div class="alert alert-{{ category }} alert-dismissible fade show">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div>
							<p>{{ category|capitalize }}: {{ message }}</p>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			{%- endif %}
			{%- endwith %}

			<main>

{%- block page_content %}
				<div class="row">
					<p>Contenido Básico</p>
				</div>
{%- endblock page_content %}

			</main>
		</div>

{%- endblock content %}


{%- block scripts %}
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
		<script defer>
			// window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>');
			// console.log('Loaded local jquery.min.js');
		</script>
		<!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<!-- <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
{%- endblock scripts %}


{%- block my_scripts %}{%- endblock my_scripts %}


{%- endblock body %}
		<!-- FIN -->


	</body>


{%- endblock html -%}

</html>


{%- endblock doc -%}
