{# {% extends "bootstrap/base.html" %} FIXME #}

<!-- La variable 'title' no está definida. -->
{% block title %}
    {% if title %}
        <title>{{ title }} - base</title>
    {% else %}
        <title>Welcome to base!</title>
    {% endif %}
{% endblock %}


{% block head %}
{# {{ super() }} FIXME #}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-botton" role="navigation">

    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Proyectos Informáticos Canarias</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('index') }}">About</a></li>
            </ul>

            {% if current_user and current_user.is_authenticated %}

            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text"><a class="navbar-link" href="{# {{ url_for('index') }} #}#">Logged in as {{ current_user.username }}</a></p></li>
                <li><a class="navbar-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>

            {% endif %}

            {# {% elif form %} #}

            {% if current_user and current_user.is_anonymous %}

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('login') }}">login</a></li>
                <li><a href="{{ url_for('register') }}">Create account</a></li>
            </ul>

            <!--
            <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/" role="login">
                <input type="hidden" name="csrf_token" value="{# {{ csrf_token() }} #}"/>
                <div class="form-group">
                    {# {{ form.username(placeholder="Username", class_="form-control") }} #}
                    {# {{ form.password(placeholder="Password", class_="form-control") }} #}
                </div>
                <button type="submit" class="btn btn-default">Log in</button>
            </form>
            -->

            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- - - - - -->
<!--
<div class="navbar navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <h1>base</h1>
        </div>
        <div class="navbar-collapse collapse">
            {# {% if current_user and current_user.is_authenticated %} #}
            <ul class="nav navbar-nav navbor-left">
                <li><a href="{# {{ url_for('add_idea') }} #}">Add Idea</a></li>
            </ul>
            {# {% endif %} #}
            <ul class="nav navbar-nav navbar-right">
                {# {% if current_user and current_user.is_authenticated %} #}
                <li><a href="{# {{ url_for('logout') }} #}">Log Out</a></li>
                {# {% else %} #}
                <li><a href="{# {{ url_for('login') }} #}">Log In</a></li>
                <li><a href="#{# {{ url_for('register') }} #}">Register</a></li>
                {# {% endif %} #}
            </ul>
        </div>
    </div>
</div>
-->
{% endblock navbar %}


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>

    {% endfor %}

    {% block page_content %}{% endblock %}

</div>
{% endblock %}

{# {% include "footer/footer.html" %} #}
