{% extends "base.html" %}

{# {% block title %}Contact Us{% endblock %} #}

{%- block my_style %}{%- endblock my_style %}

{%- block page_content -%}

{# FIXME
	{%- block container_type -%}container-fluid{%- endblock container_type -%}
#}

	<div class="row">
		<div class="col">
			<h1>Test formulario de contacto</h1>
		</div>
	</div>

	<hr />

	{% if current_user and current_user.is_authenticated %}

	<div class="row">
		<div class="col">
			<p>Estamos autenticados</p>
		</div>
	</div>

	<hr />

	{% endif %}

	{% if current_user and current_user.is_anonymous %}
	<!--
		<div class="row">
			<div class="col">


				<div class="container">
						<div style="text-align:center">
								<h2>Contact Us</h2>
								<p>Swing by for a cup of coffee, or leave us a message:</p>
						</div>
						<div class="row">
								<div class="column">
										<div id="map" style="width:100%;height:500px"></div>
								</div>
								<div class="column">
										<form action="/action_page.php">
												<label for="fname">First Name</label>
												<input type="text" id="fname" name="firstname" placeholder="Your name..">
												<label for="lname">Last Name</label>
												<input type="text" id="lname" name="lastname" placeholder="Your last name..">
												<label for="country">Country</label>
												<select id="country" name="country">
														<option value="australia">Australia</option>
														<option value="canada">Canada</option>
														<option value="usa">USA</option>
												</select>
												<label for="subject">Subject</label>
												<textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
												<input type="submit" value="Submit">
										</form>
								</div>
						</div>
				</div>
			</div>
		</div>
	-->
	{% endif %}

<!--
		<div class="row">
			<h2>Contact</h2>

			<div class="row">
			{% for message in form.name.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}

			{% for message in form.email.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}

			{% for message in form.subject.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}

			{% for message in form.message.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
		</div>

		<div class="row">
			<form action="{{ url_for('contact') }}" method=post>
				{{ form.hidden_tag() }}

				<div class="row">
					<div class="col-md-4">
						{{ form.name.label }}
					</div>
					<div class="col-md-8">
						{{ form.name(size=20) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						{{ form.email.label }}
					</div>
					<div class="col-md-8">
						{{ form.email(size=20) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						{{ form.subject.label }}
					</div>
					<div class="col-md-8">
						{{ form.subject(size=20) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						{{ form.message.label }}
					</div>
					<div class="col-md-8">
						{{ form.message(rows=20, cols=30) }}
					</div>
				</div>

				<div class="row">
				{{ form.submit }}
				</div>
			</form>
		</div>
-->

		<!-- <div class="container"> -->

			<div class="row">

				<!-- MAPA -->
				<div class="col-md-6">
					<div class="row">
						<p>&nbsp;</p>
					</div>
					<div id="map" style="width:100%;height:640px"></div>
				</div>

				<!-- FORMULARIO -->
				<div class="col-md-6">
					<div class="row">
						<p>&nbsp;</p>
					</div>
					<div class="row" style="background-color: #92a8d1;">

						{% for message in form.name.errors %}
						<div class="flash">{{ message }}</div>
						{% endfor %}

						{% for message in form.email.errors %}
						<div class="flash">{{ message }}</div>
						{% endfor %}

						{% for message in form.subject.errors %}
						<div class="flash">{{ message }}</div>
						{% endfor %}

						{% for message in form.message.errors %}
						<div class="flash">{{ message }}</div>
						{% endfor %}

					</div>

					<form action="{{ url_for('contact') }}" method="post">
						{{ form.hidden_tag() }}

						<!-- <div class="row"><div class="col">{# {{ form.name.label }} #}</div></div> -->
						<!-- <div class="row"><div class="col">{# {{ form.name }} #}</div></div> -->

						<!-- <div class="col">{# {{ form.email.label }} #}</div> -->
						<!-- <div class="col">{# {{ form.email(size=20) }} #}</div> -->

						<!-- <div class="col">{# {{ form.subject.label }} #}</div> -->
						<!-- <div class="col">{# {{ form.subject(size=20) }} #}</div> -->

						<!-- <div class="col">{# {{ form.message.label }} #}</div> -->
						<!-- <div class="col">{# {{ form.message(cols=20, rows=8) }} #}</div> -->

						<!-- <div class="col">{# {{ form.submit }} #}</div> -->

						<div class="form-group row">
							<div class="col-3">
								<!--<label for="name" class="col-form-label">Name</label>-->
								{{ form.name.label }}
							</div>
							<div class="col">
								<!-- <input type="text" class="form-control" id="inputNameData" placeholder="Name" aria-describedby="nameHelpBlock"> -->
								{{ form.name(class="form-control") }} {# FIXME: Crear los campos usando la definición en el forms.py #}
								<small id="nameHelpBlock" class="form-text text-muted">Your name.</small>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-3">
								<!-- <label for="inputEmail3" class="col-form-label">Email</label> -->
								{{ form.email.label }}
							</div>
							<div class="col">
								<!-- <input type="email" class="form-control" id="inputEmailData" placeholder="Email" aria-describedby="emailHelpBlock"> -->
								{{ form.email }}
								<small id="emailHelpBlock" class="form-text text-muted">Your email</small>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-3">
								<!-- <label for="inputSubject" class="col-form-label">Subject</label> -->
								{{ form.subject.label }}
							</div>
							<div class="col">
								<!-- <input type="text" class="form-control" id="inputSubjectData" placeholder="Subject" aria-describedby="subjectHelpBlock"> -->
								{{ form.subject }}
								<small id="emailHelpBlock" class="form-text text-muted">Your subject</small>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-3">
								<!-- <label for="inputMessage" class="col-form-label">Message</label> -->
								{{ form.message.label }}
							</div>
							<div class="col">
								<!-- <textarea class="form-control" id="textareaMessageData" rows="3" aria-describedby="messageHelpBlock" required></textarea> -->
								{{ form.message() }}
								<small id="messageHelpBlock" class="form-text text-muted">Your message</small>
							</div>
						</div>

						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck" aria-describedby="checkboxHelpBlock">
								<label class="form-check-label" for="gridCheck">Check me out</label>
								<small id="checkboxHelpBlock" class="text-muted">Your message</small>
							</div>
						</div>

						<div class="form-row">
							<!-- <input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Send"> -->
							{{ form.submit(class="btn btn-primary btn-block") }}
						</div>
						<div class="form-row">
							<p>&nbsp;</p>
						</div>

						<br />

					</form>


				</div>
			</div>

{% endblock page_content %}

{%- block my_scripts %}

				<!-- Initialize Google Maps -->
				<script>
				function myMap() {
					var myCenter = new google.maps.LatLng(27.9461032,-15.3897208);
					var mapCanvas = document.getElementById("map");
					var mapOptions = {center: myCenter, zoom: 12};
					var map = new google.maps.Map(mapCanvas, mapOptions);
					var marker = new google.maps.Marker({position:myCenter});
					marker.setMap(map);
				}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>

{%- endblock my_scripts %}
