{% extends "base.html" %}

{# {% block title %}TÃtulo de ejemplo{% endblock %} #}

{%- block page_content -%}

{# FIXME
	{%- block container_type -%}container-fluid{%- endblock container_type -%}
#}

				<div class="row">
					<div class="col">
						<h1>Página para Test</h1>
					</div>
				</div>

	{% if current_user and current_user.is_authenticated %}
				<div class="row">
					<div class="col">
						<p>Estamos autenticados</p>
					</div>
				</div>
	{% endif %}

	{% if current_user and current_user.is_anonymous %}
				<div class="row">
					<div class="col">
						<p>Tienes que identificarte...</p>
						<p>Registrate y entra...</p>
					</div>
				</div>
	{% endif %}
{% endblock page_content %}
