{% extends "base.html" %}

{# {% import "bootstrap/wtf.html" as wtf %} #}

{% block title %}Login{% endblock %}

{% block page_content %}

    <div class="row" id="cinco" role="group" aria-labelledby="login_form">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            <form class="form" role="form" action="{{ url_for('.login', next=request.args.get('next')) }}" method="post" enctype="multipart/form-data">

                {{ form.hidden_tag() }}

                <fieldset>

                    <legend>Login</legend>

                    <div class="form-group">
                        {{ form.username.label }}
                        {% if form.username.errors %}
                            {% for e in form.username.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
                        {% endif %}
                        {{ form.username(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {% for e in form.password.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
                        {% endif %}
                        {{ form.password(class_="form-control") }}
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </fieldset>

            </form>
        </div>

        <div class="col-md-4"></div>

    </div>

{% endblock %}
