{% extends "base.html" %}

{# {% import "bootstrap/wtf.html" as wtf %} FIXME #}

{% block title %}Register{% endblock %}

{% block page_content %}

<!--
	<div class="page-header">
		<h1>Register</h1>
	</div>

	<div class="col-md-4">
		{# {{ wtf.quick_form(form) }} #}
	</div>
-->
	<div class="row" role="group" aria-labelledby="login_form">

		<div class="col-md-4"></div>

		<div class="col-md-4">
			<form
				class="form"
				role="form"
				action=""
				method="post"
				enctype="multipart/form-data">

				{{ form.hidden_tag() }}

				<fieldset>

					<legend>Register</legend>

					<div class="form-group">
						{{ form.username.label }}
						{% if form.username.errors %}
							{% for e in form.username.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
						{% endif %}
						{{ form.username(class_="form-control") }}
					</div>

					<div class="form-group">
						{{ form.password.label }}
						{% if form.password.errors %}
							{% for e in form.password.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
						{% endif %}
						{{ form.password(class_="form-control") }}
					</div>

					<div class="form-group">
						{{ form.password2.label }}
						{% if form.password2.errors %}
							{% for e in form.password2.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
						{% endif %}
						{{ form.password2(class_="form-control") }}
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>

				</fieldset>

			</form>
		</div>

		<div class="col-md-4"></div>
	</div>
{% endblock %}
