<footer>
  <ul class="company">
    <li>© Desarrollos PIC</li>
  </ul>

    <ul class="footer-nav">

        <li><a href="{# {{ url_for('public.about') }} #}">About</a></li>

      <li><a href="mailto:desarrollo@pic-sl.com">Contact</a></li>
    </ul>
</footer>
